.bubbleMessage {
  padding: 0.5rem;
  border-radius: 10px;
}

.right {
  background: rgba(80, 94, 219);
  color: white;
  margin-right: 0.5rem;
}

.left {
  background: rgba(201, 202, 255);
  color: gray;
  margin-left: 0.5rem;
}
